@charset "utf-8";
*{
    padding:0;
    margin:0;
}

header .nav-bar{
    width:100%;
    height:30px;
    background-color: #f8f8f8;
    line-height: 30px;
    position: relative;
    z-index: 290;
    color: #717171;/*顶头header的导航栏，用于用户登录注册等操作*/ 
}
//左部ul
header .nav-bar .fouce {
    position: relative;
    height: 30px;
    float: left;
}
header .nav-bar .fouce li {
    height: 30px;
    line-height: 28px;
    float: left;
    margin-right: 5px;
}
header .nav-bar .fouce .region i {
    width: 11px;
    height: 14px;
    background: url(https://static.mll3321.com/mll/common/header/nav/i/nav.png) 0 38px no-repeat;
    overflow: hidden;
    margin: 7px 5px 0 0;
    line-height: 28px;
}
//右部ul
header .nav-bar .customer {
    height: 30px;
    float: right;
}
header .nav-bar .customer li {
    height: 28px;
    border: solid 1px #f8f8f8;
    float: left;
    position: relative;
    padding: 0 5px;
}
header .nav-bar .customer .drop-down .drop-down-content {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #eaeaea;
    border-top: none;
    left: -1px;
    top: 29px;
}
header .nav-bar .customer .drop-down .drop-down-content {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #eaeaea;
    border-top: none;
    left: -1px;
    top: 29px;
}



header .search-bar{
    width:100%;
    height:112px;
}