@charset "utf-8";
.regist_title {
    position: relative;
    top: 20px;
    left: 18px;
    font-size: 24px;
    color: #333;
    font-family: '微软雅黑';
}
.user_header .nav {
    width: 180px;
    padding-top: 40px;
    text-align: right;
}

//
.user_content {
    border: 1px solid #d7d7d7;
    padding: 40px;
    padding-right: 0;
}
.user_login {
    width: 768px;
    border-right: 1px solid #ddd;
    color: #555;
}
.register_box {
    padding: 20px 0;
}
.register_box label.tips {
    width: 100px;
    display: inline-block;
    text-align: right;
    font-size: 14px;
}
.register_box label.tips span {
    padding-right: 2px;
}
.users_input_error {
    background: #fff3f3;
    border-color: #ff5242;
    color: #d10000!important;
}
.register_input, .users_input {
    height: 40px;
    line-height: 40px;
    width: 296px;
    border: 1px solid #d5d5d5;
    font-size: 14px;
    padding: 0 5px;
}
.success {
    background: url(../img/allPuzzle.png) scroll no-repeat -101px -125px;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 14px;
    margin-left: 5px;
}
.user_content .error {
    visibility: hidden;
    height: 22px;
    line-height: 22px;
    margin-left: 412px;
    color: gray;
    position: relative;
    top: -28px;
    width: 265px;
    height: 26px;
    line-height: 26px;
    text-indent: .5em;
    border: solid 1px #d5d5d5;
    background: #fff;
}
// .user_content .error2{
//     color: #d10000;
//     background: #fff3f3;
//     border: solid 1px #ffe4e4;
// }
#JS_captcha{
    position: absolute;
    left: 296px;
    top: 7px;
    background: pink;
}
.register_box .readed {
    line-height: 18px;
    padding: 10px 0 20px 100px;
}
.blue {
    color: #4a92f5;
}
.regi_btn {
    cursor: pointer;
    background: #cf000e;
    width: 308px;
    height: 42px;
    border: none;
    outline: 0;
    border-radius: 4px;
}

//右侧
.user_register {
    width: 220px;
    margin-right: 80px;
}
.user_ok_register {
    text-align: center;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}
.register_submit, .users_submit {
    background: #cf000e;
    border: 0;
    height: 32px;
    width: 70px;
    cursor: pointer;
    border-radius: 4px;
}
.logintoreg {
    display: inline-block;
    text-align: center;
    line-height: 32px;
}
.img_login2 {
    text-align: center;
    padding: 90px 0;
    border-bottom: 1px solid #eee;
}
.share_login {
    margin-top: 20px;
}
.api_tips {
    color: #999;
    font-size: 12px;
}
.login_api .api_from a {
    background: url(../img/allPuzzle.png);
    height: 28px;
    width: 28px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
.login_api .api_from a.qq {
    background-position: 0 0;
}
.login_api .api_from a.sina {
    background-position: -28px 0;
}
.login_api .api_from a.alipay {
    background-position: -86px 0;
}


//
.mll-footer {
    width: 100%;
    padding-top: 70px;
}
.mll-footer .footer-icon {
    background: #f8f8f8;
    padding: 35px 0;
    border-bottom: 1px solid #ededed;
    text-align: center;
}
.mll-footer .footer-icon a {
    display: inline-block;
    width: 148px;
    height: 80px;
}
.mll-footer .footer-icon span {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    color: #000;
    text-align: center;
    margin-top: 10px;
}
.mll-footer .footer-icon i {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: url(../img/footerIcon.png) no-repeat;
}
.mll-footer .footer-icon .icon-1 {
    background-position: 0 0;
}
.mll-footer .footer-icon .icon-2 {
    background-position: -50px 0;
}
.mll-footer .footer-icon .icon-3 {
    background-position: -100px 0;
}
.mll-footer .footer-icon .icon-4 {
    background-position: -150px 0;
}
.mll-footer .footer-icon .icon-5 {
    background-position: 0 -50px;
}
.mll-footer .footer-icon .icon-6 {
    background-position: -50px -50px;
}
.mll-footer .footer-icon .icon-7 {
    background-position: -100px -50px;
}
.mll-footer .footer-icon .icon-8 {
    background-position: -150px -50px;
}

.mll-footer .footer-extend {
    background: #1f1f1f;
    padding: 21px 0 30px;
}
.mll-footer .footer-extend .footer-copyrights {
    position: relative;
    color: #777;
}
.mll-footer .footer-extend .footer-copyrights .copyrights {
    height: 40px;
}
.mll-footer .footer-extend .footer-copyrights .copyrights li {
    height: 20px;
    line-height: 20px;
}
.mll-footer .footer-extend .footer-copyrights a {
    color: #777;
}
.mll-footer .footer-extend .footer-copyrights .credit {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
}
.mll-footer .footer-extend .footer-copyrights .credit li {
    float: left;
    height: 40px;
    padding-left: 15px;
}
.mll-footer .footer-extend .footer-copyrights .credit li i {
    width: 27px;
    margin-right: 5px;
    background-image: url(../img/credit.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
}
.mll-footer .footer-extend .footer-copyrights .credit li .icon-1 {
    height: 22px;
    background-position: 0 0;
    margin-top: 12px;
}
.mll-footer .footer-extend .footer-copyrights .credit li .icon-4 {
    width: 32px;
    height: 26px;
    background-position: 0 -69px;
    margin-top: 9px;
}
.mll-footer .footer-extend .footer-copyrights .credit li .icon-2 {
    height: 21px;
    background-position: 0 -47px;
    margin-top: 11px;
}
.mll-footer .footer-extend .footer-copyrights .credit li .icon-3 {
    height: 25px;
    background-position: 0 -22px;
    margin-top: 9px;
}
.mll-footer .footer-extend .footer-copyrights .credit li.spec span {
    line-height: 40px;
    width:50px;
}
.mll-footer .footer-extend .footer-copyrights .credit li span {
    width: 50px;
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
}
